@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure the footer is at the bottom */
    align-items: center;
    min-height: 100vh; /* Ensure the container covers the full viewport height */
    text-align: center; /* Center the text inside the container */
}

.title {
    font-size: 32px;
    text-align: center;
    margin: 50px;
}

.columns {
    display: flex;
    flex-direction: row; /* Arrange columns horizontally */
    gap: 20px; /* Add space between columns */
    width: 80%; /* Make the columns span the entire page width */
    justify-content: center; /* Center the columns horizontally */
    height: 500px;
}

.current-routes, .route-history {
    flex: 1; /* Make both columns take equal space */
    display: flex;
    flex-direction: column; /* Arrange content as columns */
    padding: 10px; /* Add some padding inside the columns */
}

.current-routes p, .route-history p {
    font-size: 26px;
    align-self: center; /* Align the <p> element to the top of the column */
}

/* Style the buttons in the footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px; /* Add space below the buttons */
}


.footer button {
    padding: 10px 20px; /* Adjust the padding to set the button size */
    font-size: 16px; /* Set the button text size */
    margin: 10px; /* Add space between buttons */
    background-color: #FEFCFB;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat";
}

.footer button:hover {
    background-color: #808080;
}